target/
temp/
/data/

web/branding/
web/test/
web/images/thumbnails/

[Cc]onfig.json
nb-configuration.xml

*.DS_Store
*.dll
**/test.html*
**/!README.TXT

# generated custom graphs
graph/
