target/
temp/
/data/
__pycache__/

web/branding/
web/test/
web/images/thumbnails/

plugins/

[Cc]onfig.json
nb-configuration.xml

*.log
*.DS_Store
*.dll
**/test.html*
**/!README.TXT
