@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    height:100%;
    margin: 0;
}

body {
    background-color: #093958; /*Dark Blue*/
}

.landing-page-error {
    font-family: 'Open Sans',helvetica,arial,verdana,sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    line-height: 1.1;
    text-align: center;
    
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}

.landing-page-error h1 {
    font-size: 24pt;
    margin: 0;
    padding: 0;
}


@media (min-width:641px)  {

    .landing-page-error h1 {
        font-size: 36pt;
    }
}


/**************************************************************************/
/** Browser Icons
/**************************************************************************/

.browser-icon {
    display: inline;
    margin: 0 10px;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
}

.firefox {
    background-image: url(../images/browsers/firefox.svg);
}
.edge {
    background-image: url(../images/browsers/edge.svg);
}
.brave {
    background-image: url(../images/browsers/brave.svg);
}
.chrome {
    background-image: url(../images/browsers/chrome.svg);
}
.safari {
    background-image: url(../images/browsers/safari.svg);
}
.opera {
    background-image: url(../images/browsers/opera.svg);
}
.internet-explorer {
    background-image: url(../images/browsers/internet-explorer.svg);
}